1016-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/Equal.txt
[{"id":"86550f60.77a708","type":"Equal","x":682,"y":329,"z":"896ee2ca.d9497","wires":[["cf8b3bd9.a1b02"]]},{"id":"cf8b3bd9.a1b02","type":"debug","name":"","active":true,"console":"false","complete":"false","x":905,"y":323,"z":"896ee2ca.d9497","wires":[]},{"id":"2dbe6496.bf7d24","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":277,"y":327,"z":"896ee2ca.d9497","wires":[["bf099565.500028","2e69fd0.81077c4"]]},{"id":"bf099565.500028","type":"function","name":"10","func":"msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":302,"z":"896ee2ca.d9497","wires":[["86550f60.77a708"]]},{"id":"2e69fd0.81077c4","type":"function","name":"-10","func":"msg.payload = -10\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":342,"z":"896ee2ca.d9497","wires":[["86550f60.77a708"]]}]