1016-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/NOR-Gate.txt
[{"id":"a8b6eb3.4a2edd8","type":"NOR-Gate","x":697,"y":740,"z":"896ee2ca.d9497","wires":[["1907da2c.b44386"]]},{"id":"1907da2c.b44386","type":"debug","name":"","active":true,"console":"false","complete":"false","x":912,"y":738,"z":"896ee2ca.d9497","wires":[]},{"id":"3ea7c7c5.c91ccc","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":299,"y":749.5999755859375,"z":"896ee2ca.d9497","wires":[["d014572d.a5382","76f04821.9827d8"]]},{"id":"d014572d.a5382","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":735.7999877929687,"z":"896ee2ca.d9497","wires":[["a8b6eb3.4a2edd8"]]},{"id":"76f04821.9827d8","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":766.7999877929687,"z":"896ee2ca.d9497","wires":[["a8b6eb3.4a2edd8"]]}]