1015-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Release/NodeREDSample/StringToBoolean.txt
[{"id":"78ad4b0d.359cb8","type":"WebAccess Conversion","conversionType":"StoB","x":632,"y":181,"z":"ff74f2e5.13d778","wires":[["be795b98.064f78"]]},{"id":"be795b98.064f78","type":"debug","name":"","active":true,"console":"false","complete":"false","x":888,"y":187,"z":"ff74f2e5.13d778","wires":[]},{"id":"b1cf969c.a51f88","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182,"y":184,"z":"ff74f2e5.13d778","wires":[["200bc53e.c3ee5e"]]},{"id":"200bc53e.c3ee5e","type":"function","name":"EmptyValue","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":181,"z":"ff74f2e5.13d778","wires":[["78ad4b0d.359cb8"]]}]