1019-NodeRED_WADashboardNodeTest/NodeRED_WADashboardNodeTest/bin/Release/NodeREDSample/CustomWidget.txt
[{"id":"44715ec5.93bca8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":182,"y":391.9999694824219,"z":"8d792771.e4d808","wires":[["ec60e67b.631438"]]},{"id":"ec60e67b.631438","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AI0010\",\"disp\":\"AT_AI0010\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":427,"y":391.9999694824219,"z":"8d792771.e4d808","wires":[["83291d07.f3bf2"]]},{"id":"83291d07.f3bf2","type":"waCustomWidget","project":"TestProjectName","name":"","interval":"5","title":"Custom Widget","widgets":"W_ACL_DEFCUSTOM_1","widgetProperties":"{\"id\":\"W_ACL_DEFCUSTOM_1\",\"data\":[{\"id\":\"grou_1485327164771\",\"ioTag\":\"\",\"macroUp\":\"\",\"macroDown\":\"\",\"builtInCDetail\":\"\",\"descrip\":\"grou-4771#0\",\"type\":\"normal\"}],\"dataFormat\":\"\"}","widExtProp":"{}","useNodeREDInput":true,"x":658,"y":392,"z":"8d792771.e4d808","wires":[["d736338b.c4ac5"]]},{"id":"d736338b.c4ac5","type":"waDashboard","project":"TestProjectName","name":"NodeRED_CustomWidgetTest","widgetMode":"replace","x":960,"y":390.9999694824219,"z":"8d792771.e4d808","wires":[]}]