1019-NodeRED_WADashboardNodeTest/NodeRED_WADashboardNodeTest/bin/Release/NodeREDSample/RTBar_BuildinWidget_ExternalDataSource.txt
[{"id":"1eb86ab3.f9fcc1","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":189,"y":273,"z":"8d792771.e4d808","wires":[["496f4f6b.d8e5fc"]]},{"id":"36f3d02f.c2102","type":"html","name":"","tag":".temp1","ret":"html","as":"single","x":515,"y":270,"z":"8d792771.e4d808","wires":[["d5b9f84b.0b284"]]},{"id":"d5b9f84b.0b284","type":"function","name":"GetTemp","func":"msg.payload = {\n    webaccess: {\n        name: 'Yangminshan',\n        value: msg.payload[1],\n        time: parseInt(new Date().getTime()/1000)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":270,"z":"8d792771.e4d808","wires":[["dc724cdf.afda08"]]},{"id":"dc724cdf.afda08","type":"waBuildinWidget","name":"BuildinWidget","interval":"5","title":"RTBar_BuildinWidget_ExternalDataSource","widgets":"W_ACL_BAR_3","widgetProperties":"{\"id\":\"W_ACL_BAR_3\",\"data\":[{\"max\":100},{\"min\":0}],\"dataFormat\":\"tagValue\",\"limit\":{\"tagNumber\":12}}","x":812,"y":270,"z":"8d792771.e4d808","wires":[["d06cd399.2119"]]},{"id":"d06cd399.2119","type":"waDashboard","project":"TestProjectName","name":"NodeRED_BuildinWidgetTest2","widgetMode":"replace","x":1040,"y":270,"z":"8d792771.e4d808","wires":[]},{"id":"496f4f6b.d8e5fc","type":"http request","name":"Yangminshan","method":"GET","ret":"txt","url":"http://www.cwb.gov.tw/V7/observe/24real/Data/46693.htm","x":354,"y":270,"z":"8d792771.e4d808","wires":[["36f3d02f.c2102"]]}]