Code/03_NodeREDTest/03_0001-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Release/NodeREDSample/BooleanToNumber.txt
[{"id":"75e3b715.46bca8","type":"WebAccess Conversion","conversionType":"BtoN","x":613,"y":473,"z":"ff74f2e5.13d778","wires":[["c044c27a.814ae"]]},{"id":"c044c27a.814ae","type":"debug","name":"","active":true,"console":"false","complete":"false","x":858,"y":472,"z":"ff74f2e5.13d778","wires":[]},{"id":"b5f4ed43.597f2","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168,"y":473,"z":"ff74f2e5.13d778","wires":[["acc1e6bc.132268"]]},{"id":"acc1e6bc.132268","type":"function","name":"true","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":472,"z":"ff74f2e5.13d778","wires":[["75e3b715.46bca8"]]}]