Code/03_NodeREDTest/03_0001-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Release/NodeREDSample/NumberToBoolean.txt
[{"id":"ff9f719e.1bbf2","type":"WebAccess Conversion","conversionType":"NtoB","x":625,"y":260,"z":"ff74f2e5.13d778","wires":[["1d87d19.6207a2e"]]},{"id":"1d87d19.6207a2e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":880,"y":274,"z":"ff74f2e5.13d778","wires":[]},{"id":"1ab92938.c89de7","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189,"y":261,"z":"ff74f2e5.13d778","wires":[["4db5821c.9f6cfc"]]},{"id":"4db5821c.9f6cfc","type":"function","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":261,"z":"ff74f2e5.13d778","wires":[["ff9f719e.1bbf2"]]}]