Code/03_NodeREDTest/03_0001-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Release/NodeREDSample/StringToNumber.txt
[{"id":"d3a1ef0d.bf26e8","type":"WebAccess Conversion","conversionType":"StoN","x":627,"y":54,"z":"ff74f2e5.13d778","wires":[["919b22b7.e770b"]]},{"id":"919b22b7.e770b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":879,"y":56,"z":"ff74f2e5.13d778","wires":[]},{"id":"66f93c43.d7771c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191,"y":50,"z":"ff74f2e5.13d778","wires":[["513c20e5.1c73f4"]]},{"id":"513c20e5.1c73f4","type":"function","name":"-4.5678","func":"msg.payload = \"-4.5678\"\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":49,"z":"ff74f2e5.13d778","wires":[["d3a1ef0d.bf26e8"]]}]