1017-NodeRED_WAIONodeTest/NodeRED_WAIONodeTest/bin/Release/NodeREDSample/GetProjectList.txt
[{"id":"91b0214f.a49868","type":"GetProjectList","name":"","x":513,"y":641.5999755859375,"z":"ff74f2e5.13d778","wires":[["c29ec02c.a5fc7"]]},{"id":"c29ec02c.a5fc7","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":735,"y":641.5999755859375,"z":"ff74f2e5.13d778","wires":[]},{"id":"4ef03e6.159eb4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":291,"y":641.5999755859375,"z":"ff74f2e5.13d778","wires":[["91b0214f.a49868"]]}]