Code/03_NodeREDTest/03_0003-NodeRED_WAIONodeTest/NodeRED_WAIONodeTest/bin/Debug/NodeREDSample/GetTagValue.txt
[{"id":"fe642472.417038","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"ConTxt_0200\",\"disp\":\"IM10\",\"type\":\"text\"}]","tagSrc":"manual","project":"TestProjectName","x":530,"y":1035.5999755859375,"z":"ff74f2e5.13d778","wires":[["b948389b.79ad3"]]},{"id":"ba906867.f54018","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288,"y":1034.5999755859375,"z":"ff74f2e5.13d778","wires":[["fe642472.417038"]]},{"id":"b948389b.79ad3","type":"debug","name":"","active":true,"console":"false","complete":"false","x":757,"y":1036.5999755859375,"z":"ff74f2e5.13d778","wires":[]}]