1019-NodeRED_WADashboardNodeTest/NodeRED_WADashboardNodeTest/bin/Debug/NodeREDSample/GroupAid.txt
[{"id":"f813ae8e.8df02","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190,"y":531,"z":"8d792771.e4d808","wires":[["1cce62ce.6b4c35","6abaea3c.c8a69c","6acbecaf.c06aac","5d4efe6f.4cbcb8","94b0962b.b48d4"]]},{"id":"1cce62ce.6b4c35","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AI0010\",\"disp\":\"AT_AI0010\",\"type\":\"number\"},{\"tag\":\"AT_AI0020\",\"disp\":\"AT_AI0020\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":446,"y":498,"z":"8d792771.e4d808","wires":[["b292d7bf.b45588"]]},{"id":"6abaea3c.c8a69c","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AI0030\",\"disp\":\"AT_AI0030\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":470,"y":541,"z":"8d792771.e4d808","wires":[["b292d7bf.b45588"]]},{"id":"b292d7bf.b45588","type":"waGroupAid","groupName":"Group1","dataNameOrder":"AT_AI0010,AT_AI0020,AT_AI0030","name":"","x":644,"y":524,"z":"8d792771.e4d808","wires":[["927242f4.83d07"]]},{"id":"927242f4.83d07","type":"waBuildinWidget","name":"","interval":"5","title":"GroupAid","widgets":"W_ACL_BAR_4","widgetProperties":"{\"id\":\"W_ACL_BAR_4\",\"data\":[{\"max\":1000},{\"min\":0}],\"dataFormat\":\"groupValue\",\"limit\":{\"tagNumber\":12,\"tagOrder\":true}}","x":842,"y":548,"z":"8d792771.e4d808","wires":[["9910d815.d38e88"]]},{"id":"9910d815.d38e88","type":"waDashboard","project":"TestProjectName","name":"NodeRED_GroupAidTest","widgetMode":"replace","x":1062,"y":547,"z":"8d792771.e4d808","wires":[]},{"id":"a5b79434.8704b8","type":"waGroupAid","groupName":"Group2","dataNameOrder":"AT_AO0010,AT_AO0020,AT_AO0030","name":"","x":637,"y":643,"z":"8d792771.e4d808","wires":[["927242f4.83d07"]]},{"id":"6acbecaf.c06aac","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AO0010\",\"disp\":\"AT_AO0010\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":448,"y":590,"z":"8d792771.e4d808","wires":[["a5b79434.8704b8"]]},{"id":"5d4efe6f.4cbcb8","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AO0020\",\"disp\":\"AT_AO0020\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":446,"y":642,"z":"8d792771.e4d808","wires":[["a5b79434.8704b8"]]},{"id":"94b0962b.b48d4","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AO0030\",\"disp\":\"AT_AO0030\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":439,"y":699,"z":"8d792771.e4d808","wires":[["a5b79434.8704b8"]]}]