1019-NodeRED_WADashboardNodeTest/NodeRED_WADashboardNodeTest/bin/Debug/NodeREDSample/RTBar_BuildinWidget_InternalDataSource.txt
[{"id":"ae5d8098.fc788","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":205,"y":103,"z":"8d792771.e4d808","wires":[["dfc96150.82c9c8","419e98c1.eaa35"]]},{"id":"dfc96150.82c9c8","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_AI0020\",\"disp\":\"AT_AI0020\",\"type\":\"number\"},{\"tag\":\"AT_AO0020\",\"disp\":\"AT_AO0020\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":431,"y":72,"z":"8d792771.e4d808","wires":[["e54ea637.b463b8"]]},{"id":"e54ea637.b463b8","type":"waBuildinWidget","name":"BuildinWidget","interval":"5","title":"RTBar_BuildinWidget_InternalDataSource","widgets":"W_ACL_BAR_3","widgetProperties":"{\"id\":\"W_ACL_BAR_3\",\"data\":[{\"max\":1000},{\"min\":0}],\"dataFormat\":\"tagValue\",\"limit\":{\"tagNumber\":12}}","x":660,"y":102,"z":"8d792771.e4d808","wires":[["b5cbcbb0.a4acf8"]]},{"id":"b5cbcbb0.a4acf8","type":"waDashboard","project":"TestProjectName","name":"NodeRED_BuildinWidgetTest","widgetMode":"replace","x":910,"y":102,"z":"8d792771.e4d808","wires":[]},{"id":"419e98c1.eaa35","type":"GetTagValue","name":"","anchor":"[{\"tag\":\"AT_DI0020\",\"disp\":\"AT_DI0020\",\"type\":\"number\"},{\"tag\":\"AT_DO0020\",\"disp\":\"AT_DO0020\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":426,"y":136,"z":"8d792771.e4d808","wires":[["e54ea637.b463b8"]]}]