NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/Compare.txt
[{"id":"a23af127.d0f568","type":"Compare","x":717,"y":218,"z":"896ee2ca.d9497","wires":[["fc56640e.9794e8"]]},{"id":"fc56640e.9794e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":907,"y":215,"z":"896ee2ca.d9497","wires":[]},{"id":"42cb9cac.3b63dc","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265,"y":230,"z":"896ee2ca.d9497","wires":[["4a2bc31b.34df68","88a178dc.af4878"]]},{"id":"4a2bc31b.34df68","type":"function","name":"10","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":194,"z":"896ee2ca.d9497","wires":[["a23af127.d0f568"]]},{"id":"88a178dc.af4878","type":"function","name":"-10","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":245,"z":"896ee2ca.d9497","wires":[["a23af127.d0f568"]]}]