NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/LessThan.txt
[{"id":"4b299c9c.c6a50c","type":"Less Than","x":676,"y":603,"z":"896ee2ca.d9497","wires":[["58a703de.65f22c"]]},{"id":"58a703de.65f22c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":902,"y":633,"z":"896ee2ca.d9497","wires":[]},{"id":"96279a5a.0f1ac8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":293,"y":592,"z":"896ee2ca.d9497","wires":[["202b1a1c.e874ba","b63301fa.a5a678"]]},{"id":"202b1a1c.e874ba","type":"function","name":"10","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":582,"z":"896ee2ca.d9497","wires":[["4b299c9c.c6a50c"]]},{"id":"b63301fa.a5a678","type":"function","name":"-10","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":615,"z":"896ee2ca.d9497","wires":[["4b299c9c.c6a50c"]]}]