NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/Or.txt
[{"id":"4dbad12b.8cbd1c","type":"Or","x":710,"y":947,"z":"896ee2ca.d9497","wires":[["5077dd72.6dbe6c"]]},{"id":"5077dd72.6dbe6c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":919,"y":942.5999755859375,"z":"896ee2ca.d9497","wires":[]},{"id":"9c05cb1.92aa1b8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288,"y":952.5999755859375,"z":"896ee2ca.d9497","wires":[["ed6eedca.bc7cd","cbc197d4.d281c8"]]},{"id":"ed6eedca.bc7cd","type":"function","name":"False","func":"msg.payload = false\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":931.5,"z":"896ee2ca.d9497","wires":[["4dbad12b.8cbd1c"]]},{"id":"cbc197d4.d281c8","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":979.5999755859375,"z":"896ee2ca.d9497","wires":[["4dbad12b.8cbd1c"]]}]