Code/03_NodeREDTest/03_0003-NodeRED_WAIONodeTest/NodeRED_WAIONodeTest/bin/Release/NodeREDSample/GetScadaList.txt
[{"id":"5e217c51.a6dbec","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":289,"y":731.5999755859375,"z":"ff74f2e5.13d778","wires":[["80513fac.caa69"]]},{"id":"80513fac.caa69","type":"GetScadaList","name":"","project":"TestProjectName","x":524,"y":732.5999755859375,"z":"ff74f2e5.13d778","wires":[["dc96b608.6355c"]]},{"id":"dc96b608.6355c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":731,"y":732.5999755859375,"z":"ff74f2e5.13d778","wires":[]}]