Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/DIV.txt
[{"id":"4e3c9042.c8388","type":"DIV","x":703,"y":588,"z":"8d792771.e4d808","wires":[["36f283ae.857f"]]},{"id":"36f283ae.857f","type":"debug","name":"","active":true,"console":"false","complete":"false","x":920,"y":582,"z":"8d792771.e4d808","wires":[]},{"id":"55c7ce00.29f238","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":587,"z":"8d792771.e4d808","wires":[["10dfd08d.7b0893","3f152bbb.e9532"]]},{"id":"10dfd08d.7b0893","type":"function","name":"-4.5678","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:-4.5678\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":574.4000244140625,"z":"8d792771.e4d808","wires":[["4e3c9042.c8388"]]},{"id":"3f152bbb.e9532","type":"function","name":"-4.5678","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-4.5678\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":619.4000244140625,"z":"8d792771.e4d808","wires":[["4e3c9042.c8388"]]}]