Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/LN.txt
[{"id":"4ddb3080.fe6e8","type":"LN","x":677,"y":148,"z":"8d792771.e4d808","wires":[["999b8c08.29c1c8"]]},{"id":"999b8c08.29c1c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":915,"y":134.699951171875,"z":"8d792771.e4d808","wires":[]},{"id":"3661fa52.218ba6","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":148,"z":"8d792771.e4d808","wires":[["66b3b6e5.4e7a84"]]},{"id":"66b3b6e5.4e7a84","type":"function","name":"2","func":"msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":148.79998779296875,"z":"8d792771.e4d808","wires":[["4ddb3080.fe6e8"]]}]