Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/LOG.txt
[{"id":"1c365fe0.e536e4","type":"LOG","base":"10","x":699,"y":224,"z":"8d792771.e4d808","wires":[["221e1233.3e89fe"]]},{"id":"221e1233.3e89fe","type":"debug","name":"","active":true,"console":"false","complete":"false","x":905,"y":222.699951171875,"z":"8d792771.e4d808","wires":[]},{"id":"8e7998be.ff0ab8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154,"y":229,"z":"8d792771.e4d808","wires":[["10a0744a.eee7c4"]]},{"id":"10a0744a.eee7c4","type":"function","name":"10","func":"msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":228.79998779296875,"z":"8d792771.e4d808","wires":[["1c365fe0.e536e4"]]}]