Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/MIN.txt
[{"id":"32997288.2d71b6","type":"MIN","x":727,"y":255,"z":"8d792771.e4d808","wires":[["1ec8abcf.e1e82c"]]},{"id":"1ec8abcf.e1e82c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":910,"y":253.699951171875,"z":"8d792771.e4d808","wires":[]},{"id":"24212cf7.a5411c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":251.79998779296875,"z":"8d792771.e4d808","wires":[["bd184203.efb12","df745167.f1f508","cfe4fbd3.d335d8"]]},{"id":"df745167.f1f508","type":"function","name":"-4.5678","func":"msg.payload = -4.5678\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":252.5999755859375,"z":"8d792771.e4d808","wires":[["32997288.2d71b6"]]},{"id":"bd184203.efb12","type":"function","name":"4.5678","func":"msg.payload = 4.5678\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":201.5999755859375,"z":"8d792771.e4d808","wires":[["32997288.2d71b6"]]},{"id":"cfe4fbd3.d335d8","type":"function","name":"-4.5755","func":"msg.payload = -4.5755\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":314,"z":"8d792771.e4d808","wires":[["32997288.2d71b6"]]}]