Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/TAN.txt
[{"id":"2566de6c.7ee74e","type":"TAN","x":646,"y":321.00006103515625,"z":"8d792771.e4d808","wires":[["b1920b8f.ad3fb8"]]},{"id":"b1920b8f.ad3fb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":869,"y":320.60003662109375,"z":"8d792771.e4d808","wires":[]},{"id":"ade28ec4.ddc118","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":158,"y":320.50006103515625,"z":"8d792771.e4d808","wires":[["8c311d28.4f55b8"]]},{"id":"8c311d28.4f55b8","type":"function","name":"Degree 45","func":"msg.payload = 0.785 // =45*3.14/180\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":323.60003662109375,"z":"8d792771.e4d808","wires":[["2566de6c.7ee74e"]]}]