1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Debug/NodeREDSample/SQRT.txt
[{"id":"965420e9.7bc77","type":"SQRT","x":662,"y":96.00006103515625,"z":"8d792771.e4d808","wires":[["5239239b.9bc154"]]},{"id":"5239239b.9bc154","type":"debug","name":"","active":true,"console":"false","complete":"false","x":882,"y":95.60003662109375,"z":"8d792771.e4d808","wires":[]},{"id":"18feb62d.49244a","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154,"y":93.50006103515625,"z":"8d792771.e4d808","wires":[["943a97a6.9453c8"]]},{"id":"943a97a6.9453c8","type":"function","name":"4","func":"msg.payload = 4\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":95.50006103515625,"z":"8d792771.e4d808","wires":[["965420e9.7bc77"]]}]