Code/03_NodeREDTest/03_0002-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/And.txt
[{"id":"8d51faa6.a7547","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":293,"y":82,"z":"896ee2ca.d9497","wires":[["173d9d22.ddad63","564f8578.a17c7","ebb11191.56644"]]},{"id":"af0c656e.213c88","type":"And","x":682,"y":81,"z":"896ee2ca.d9497","wires":[["764528c7.10acb8"]]},{"id":"173d9d22.ddad63","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":44,"z":"896ee2ca.d9497","wires":[["af0c656e.213c88"]]},{"id":"564f8578.a17c7","type":"function","name":"False","func":"msg.payload = false\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":88,"z":"896ee2ca.d9497","wires":[["af0c656e.213c88"]]},{"id":"764528c7.10acb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":884,"y":78,"z":"896ee2ca.d9497","wires":[]},{"id":"ebb11191.56644","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":483,"y":130,"z":"896ee2ca.d9497","wires":[["af0c656e.213c88"]]}]