Code/03_NodeREDTest/03_0002-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/XOR-Gate.txt
[{"id":"fac55c8f.102d5","type":"XOR-Gate","x":704,"y":1084,"z":"896ee2ca.d9497","wires":[["9a341142.dd35b"]]},{"id":"9a341142.dd35b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":933,"y":1102.5999755859375,"z":"896ee2ca.d9497","wires":[]},{"id":"7ac0aa08.45ac68","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":307,"y":1059.5999755859375,"z":"896ee2ca.d9497","wires":[["fd4c6495.226fb8","151b9d43.da4b3b"]]},{"id":"fd4c6495.226fb8","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":1039.699951171875,"z":"896ee2ca.d9497","wires":[["fac55c8f.102d5"]]},{"id":"151b9d43.da4b3b","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":1099.699951171875,"z":"896ee2ca.d9497","wires":[["fac55c8f.102d5"]]}]