NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/NAND-Gate.txt
[{"id":"9de2be61.19c0d","type":"NAND-Gate","x":674,"y":677,"z":"896ee2ca.d9497","wires":[["c221e188.ec02f8"]]},{"id":"c221e188.ec02f8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":912,"y":687,"z":"896ee2ca.d9497","wires":[]},{"id":"daeb1e10.6adcd8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":689,"z":"896ee2ca.d9497","wires":[["b4129de6.7ef45","8b18ba13.a976d8"]]},{"id":"8b18ba13.a976d8","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":699.7999877929687,"z":"896ee2ca.d9497","wires":[["9de2be61.19c0d"]]},{"id":"b4129de6.7ef45","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":665.7999877929687,"z":"896ee2ca.d9497","wires":[["9de2be61.19c0d"]]}]