Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/ADD.txt
[{"id":"6aaef86b.083f0c","type":"ADD","x":680,"y":289,"z":"8d792771.e4d808","wires":[["af993c87.e5a9a"]]},{"id":"af993c87.e5a9a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":898,"y":289,"z":"8d792771.e4d808","wires":[]},{"id":"9aff5397.8a6a1","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":278,"z":"8d792771.e4d808","wires":[["30b86981.75e982","422c3245.6df64"]]},{"id":"30b86981.75e982","type":"function","name":"-4.5678","func":"msg.payload = -4.5678\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":261,"z":"8d792771.e4d808","wires":[["6aaef86b.083f0c"]]},{"id":"422c3245.6df64","type":"function","name":"4.5678","func":"msg.payload = 4.5678\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":306,"z":"8d792771.e4d808","wires":[["6aaef86b.083f0c"]]}]