Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/MUL.txt
[{"id":"7ca6fa5a.3b687","type":"MUL","x":718,"y":496,"z":"8d792771.e4d808","wires":[["163d0d14.73cdeb"]]},{"id":"163d0d14.73cdeb","type":"debug","name":"","active":true,"console":"false","complete":"false","x":916,"y":494.699951171875,"z":"8d792771.e4d808","wires":[]},{"id":"50945d15.cb0c28","type":"function","name":"-10","func":"msg.payload = -10\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":466.5999755859375,"z":"8d792771.e4d808","wires":[["7ca6fa5a.3b687"]]},{"id":"16f22db4.c62246","type":"function","name":"10","func":"msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":510.5999755859375,"z":"8d792771.e4d808","wires":[["7ca6fa5a.3b687"]]},{"id":"48870b56.704198","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":484.79998779296875,"z":"8d792771.e4d808","wires":[["16f22db4.c62246","50945d15.cb0c28"]]}]