Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/SIN.txt
[{"id":"b45c9b58.f25f38","type":"SIN","x":641,"y":249.00006103515625,"z":"8d792771.e4d808","wires":[["f314e3f1.002f28"]]},{"id":"f314e3f1.002f28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":873,"y":248.70001220703125,"z":"8d792771.e4d808","wires":[]},{"id":"26c103f9.de9014","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":237.50006103515625,"z":"8d792771.e4d808","wires":[["aa2c17dc.af2cc8"]]},{"id":"aa2c17dc.af2cc8","type":"function","name":"Degree 90","func":"msg.payload = 1.57  // =90*3.14/180\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":246.60003662109375,"z":"8d792771.e4d808","wires":[["b45c9b58.f25f38"]]}]