Code/03_NodeREDTest/03_0004-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/SUB.txt
[{"id":"c1766f0c.e55458","type":"SUB","x":693,"y":381,"z":"8d792771.e4d808","wires":[["33c02c3f.45cb1"]]},{"id":"33c02c3f.45cb1","type":"debug","name":"","active":true,"console":"false","complete":"false","x":894,"y":378.60009765625,"z":"8d792771.e4d808","wires":[]},{"id":"cde77b73.7cdbc","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":369.5001220703125,"z":"8d792771.e4d808","wires":[["f0a4fd39.db223","a9b32ae6.1a4da8"]]},{"id":"f0a4fd39.db223","type":"function","name":"-4.5678","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:-4.5678\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":370,"z":"8d792771.e4d808","wires":[["c1766f0c.e55458"]]},{"id":"a9b32ae6.1a4da8","type":"function","name":"-4.5678","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-4.5678\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":402,"z":"8d792771.e4d808","wires":[["c1766f0c.e55458"]]}]