Code/03_NodeREDTest/03_0001-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Debug/NodeREDSample/BooleanToString.txt
[{"id":"d96eb965.585828","type":"WebAccess Conversion","conversionType":"BtoS","x":627,"y":384,"z":"ff74f2e5.13d778","wires":[["3b108337.e89c04"]]},{"id":"3b108337.e89c04","type":"debug","name":"","active":true,"console":"false","complete":"false","x":863,"y":384,"z":"ff74f2e5.13d778","wires":[]},{"id":"9c54e7d.f260d98","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":386,"z":"ff74f2e5.13d778","wires":[["858978a3.5acfa"]]},{"id":"858978a3.5acfa","type":"function","name":"false","func":"msg.payload = false\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":386,"z":"ff74f2e5.13d778","wires":[["d96eb965.585828"]]}]