Code/03_NodeREDTest/03_0001-NodeRED_WAConversionNodeTest/NodeRED_WAConversionNodeTest/bin/Debug/NodeREDSample/NumberToString.txt
[{"id":"d372beea.79e7e","type":"WebAccess Conversion","conversionType":"NtoS","x":614,"y":112,"z":"ff74f2e5.13d778","wires":[["f26f4029.37efe"]]},{"id":"f26f4029.37efe","type":"debug","name":"","active":true,"console":"false","complete":"false","x":872,"y":115,"z":"ff74f2e5.13d778","wires":[]},{"id":"f6d789b4.f48ff","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183,"y":109,"z":"ff74f2e5.13d778","wires":[["dd819c20.d0ad3"]]},{"id":"dd819c20.d0ad3","type":"function","name":"-4.5678","func":"msg.payload = -4.5678\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":109,"z":"ff74f2e5.13d778","wires":[["d372beea.79e7e"]]}]