Code/03_NodeREDTest/03_0002-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/GreaterOrEqual.txt
[{"id":"b2b68ff0.af1fe","type":"Greater Or Equal","x":690,"y":397,"z":"896ee2ca.d9497","wires":[["be5a5bd1.80c698"]]},{"id":"be5a5bd1.80c698","type":"debug","name":"","active":true,"console":"false","complete":"false","x":910,"y":387,"z":"896ee2ca.d9497","wires":[]},{"id":"4b725add.4fdfec","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288,"y":404,"z":"896ee2ca.d9497","wires":[["e68d88cd.03bdb8","5a486283.cc0df"]]},{"id":"e68d88cd.03bdb8","type":"function","name":"10","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":391,"z":"896ee2ca.d9497","wires":[["b2b68ff0.af1fe"]]},{"id":"5a486283.cc0df","type":"function","name":"-10","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":421,"z":"896ee2ca.d9497","wires":[["b2b68ff0.af1fe"]]}]