Code/03_NodeREDTest/03_0002-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Debug/NodeREDSample/Not.txt
[{"id":"80cfee0.724f6d","type":"Not","x":694,"y":803,"z":"896ee2ca.d9497","wires":[["567508e2.0adfe"]]},{"id":"567508e2.0adfe","type":"debug","name":"","active":true,"console":"false","complete":"false","x":904,"y":819,"z":"896ee2ca.d9497","wires":[]},{"id":"3fbcf468.77dde","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":307,"y":799.5999755859375,"z":"896ee2ca.d9497","wires":[["6844067e.44e898"]]},{"id":"6844067e.44e898","type":"function","name":"True","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":803.699951171875,"z":"896ee2ca.d9497","wires":[["80cfee0.724f6d"]]}]