1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/ABS.txt
[{"id":"984b0370.ea6478","type":"ABS","x":687,"y":212,"z":"8d792771.e4d808","wires":[["323e7a62.d1d096"]]},{"id":"323e7a62.d1d096","type":"debug","name":"","active":true,"console":"false","complete":"false","x":923,"y":213,"z":"8d792771.e4d808","wires":[]},{"id":"b38e9d78.1e1f9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154,"y":210,"z":"8d792771.e4d808","wires":[["93c2300f.16af5"]]},{"id":"93c2300f.16af5","type":"function","name":"-4.5678","func":"msg.payload = -4.5678\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":213,"z":"8d792771.e4d808","wires":[["984b0370.ea6478"]]}]