1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/COS.txt
[{"id":"b1b6981d.970d98","type":"COS","x":652,"y":168.00006103515625,"z":"8d792771.e4d808","wires":[["ff9d2018.c2267"]]},{"id":"ff9d2018.c2267","type":"debug","name":"","active":true,"console":"false","complete":"false","x":881,"y":168.00006103515625,"z":"8d792771.e4d808","wires":[]},{"id":"3ce7baa5.53436a","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":171.00006103515625,"z":"8d792771.e4d808","wires":[["5e8a38b4.884768"]]},{"id":"5e8a38b4.884768","type":"function","name":"Degree 0","func":"msg.payload = 0 // =0*3.14/180\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":171.00006103515625,"z":"8d792771.e4d808","wires":[["b1b6981d.970d98"]]}]