1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/EXP.txt
[{"id":"fe737031.0c0618","type":"EXP","x":694,"y":78,"z":"8d792771.e4d808","wires":[["8b3ff8ae.c59748"]]},{"id":"8b3ff8ae.c59748","type":"debug","name":"","active":true,"console":"false","complete":"false","x":902,"y":55,"z":"8d792771.e4d808","wires":[]},{"id":"ea59c81b.72f128","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":71,"z":"8d792771.e4d808","wires":[["be57ae2d.10b41"]]},{"id":"be57ae2d.10b41","type":"function","name":"2","func":"msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":80.79998779296875,"z":"8d792771.e4d808","wires":[["fe737031.0c0618"]]}]