1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/FilterTagValue.txt
[{"id":"4d7e516b.c6e74c","type":"FilterTagValue","name":"","propertiesSrc":"disp","x":696,"y":90,"z":"8d792771.e4d808","wires":[["42309d1d.5ec2c4"]]},{"id":"42309d1d.5ec2c4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":890,"y":89,"z":"8d792771.e4d808","wires":[]},{"id":"26817d11.a3c35e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":82,"z":"8d792771.e4d808","wires":[["8f899a00.587228","69ffbd04.c4ae3c","23c731d6.0c565e","e5a91ccd.52ec3"]]},{"id":"8f899a00.587228","type":"GetTagValue","name":"AT_AI0050","anchor":"[{\"tag\":\"AT_AI0050\",\"disp\":\"AT_AI0050\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":372,"y":38,"z":"8d792771.e4d808","wires":[["4d7e516b.c6e74c"]]},{"id":"69ffbd04.c4ae3c","type":"GetTagValue","name":"AT_AI0100","anchor":"[{\"tag\":\"AT_AI0100\",\"disp\":\"AT_AI0100\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":374,"y":78,"z":"8d792771.e4d808","wires":[["4d7e516b.c6e74c"]]},{"id":"23c731d6.0c565e","type":"GetTagValue","name":"AT_AI0150","anchor":"[{\"tag\":\"AT_AI0150\",\"disp\":\"AT_AI0150\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":372,"y":116,"z":"8d792771.e4d808","wires":[["4d7e516b.c6e74c"]]},{"id":"e5a91ccd.52ec3","type":"GetTagValue","name":"AT_AI0200 & AT_AI0250","anchor":"[{\"tag\":\"AT_AI0200\",\"disp\":\"AT_AI0200\",\"type\":\"number\"},{\"tag\":\"AT_AI0250\",\"disp\":\"AT_AI0250\",\"type\":\"number\"}]","tagSrc":"manual","project":"TestProjectName","x":382,"y":161,"z":"8d792771.e4d808","wires":[["4d7e516b.c6e74c"]]}]