1018-NodeRED_WAMathNodeTest/NodeRED_WAMathNodeTest/bin/Release/NodeREDSample/MAX.txt
[{"id":"b8ea180a.69d688","type":"MAX","x":743,"y":81,"z":"8d792771.e4d808","wires":[["d61b88e1.2cc5f"]]},{"id":"d61b88e1.2cc5f","type":"debug","name":"","active":true,"console":"false","complete":"false","x":920,"y":93.699951171875,"z":"8d792771.e4d808","wires":[]},{"id":"8446dc09.c9af6","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":109.79998779296875,"z":"8d792771.e4d808","wires":[["8349522a.8e345","29a8b5bb.7dc04a","5c6a7daa.e237b"]]},{"id":"29a8b5bb.7dc04a","type":"function","name":"4.5678","func":"msg.payload = 4.5678\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":99.5999755859375,"z":"8d792771.e4d808","wires":[["b8ea180a.69d688"]]},{"id":"8349522a.8e345","type":"function","name":"4.5755","func":"msg.payload = 4.5755\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":54.5999755859375,"z":"8d792771.e4d808","wires":[["b8ea180a.69d688"]]},{"id":"5c6a7daa.e237b","type":"function","name":"-4.5678","func":"msg.payload = -4.5678\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":146.5999755859375,"z":"8d792771.e4d808","wires":[["b8ea180a.69d688"]]}]