1017-NodeRED_WAIONodeTest/NodeRED_WAIONodeTest/bin/Debug/NodeREDSample/GetTagList.txt
[{"id":"d1a77923.271218","type":"GetTagList","name":"","project":"TestProjectName","scada":"CTestSCADA","comportNbr":"1","tlFilterTagName":"","tlFilterAnalog":"","tlFilterDiscrete":"","tlFilterText":"","tlFilterBlock":"","tlFilterArrayTag":"","tlFilterDataLog":"","x":524,"y":835.5999755859375,"z":"ff74f2e5.13d778","wires":[["f2c3c30c.e17a8"]]},{"id":"dc39edc3.50ed5","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":289,"y":831.5999755859375,"z":"ff74f2e5.13d778","wires":[["d1a77923.271218"]]},{"id":"f2c3c30c.e17a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":759,"y":826.5999755859375,"z":"ff74f2e5.13d778","wires":[]}]