1017-NodeRED_WAIONodeTest/NodeRED_WAIONodeTest/bin/Debug/NodeREDSample/SetTagValue.txt
[{"id":"3674e1a9.50491e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":939.5999755859375,"z":"ff74f2e5.13d778","wires":[["61f86992.ac8cd4"]]},{"id":"776f80e8.969d04","type":"debug","name":"","active":true,"console":"false","complete":"false","x":752,"y":937.5999755859375,"z":"ff74f2e5.13d778","wires":[]},{"id":"61f86992.ac8cd4","type":"SetTagValue","project":"TestProjectName","tagSrc":"manual","anchor":"[{\"name\":\"ConTxt_0200\",\"value\":\"whoami\",\"type\":\"text\"}]","valueType":"number","name":"","x":546,"y":937.5999755859375,"z":"ff74f2e5.13d778","wires":[["776f80e8.969d04"]]}]