1016-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/GreaterThan.txt
[{"id":"165fc251.e211fa","type":"Greater Than","x":680,"y":484,"z":"896ee2ca.d9497","wires":[["f2e7d28.be83f7"]]},{"id":"f2e7d28.be83f7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":900,"y":484,"z":"896ee2ca.d9497","wires":[]},{"id":"a7bbe1ad.a4b2d8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":289,"y":486,"z":"896ee2ca.d9497","wires":[["89d791e.47804f","913268f2.99b5f8"]]},{"id":"89d791e.47804f","type":"function","name":"10","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":463,"z":"896ee2ca.d9497","wires":[["165fc251.e211fa"]]},{"id":"913268f2.99b5f8","type":"function","name":"-10","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":497,"z":"896ee2ca.d9497","wires":[["165fc251.e211fa"]]}]