1016-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/LessOrEqual.txt
[{"id":"d2ed6291.2fbc6","type":"Less Or Equal","x":681,"y":543,"z":"896ee2ca.d9497","wires":[["e0a6b1d2.c9fd28"]]},{"id":"e0a6b1d2.c9fd28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":912,"y":565,"z":"896ee2ca.d9497","wires":[]},{"id":"942252f1.5fcf38","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":290,"y":540,"z":"896ee2ca.d9497","wires":[["150da2f2.dc8865","f22eb9ab.31a768"]]},{"id":"150da2f2.dc8865","type":"function","name":"10","func":"msg.payload =\n{\n    webaccess:\n    {\n        leftValue:10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":523,"z":"896ee2ca.d9497","wires":[["d2ed6291.2fbc6"]]},{"id":"f22eb9ab.31a768","type":"function","name":"-10","func":"msg.payload =\n{\n    webaccess:\n    {\n        rightValue:-10\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":549,"z":"896ee2ca.d9497","wires":[["d2ed6291.2fbc6"]]}]