1016-NodeRED_WALogicNodeTest/NodeRED_WALogicNodeTest/bin/Release/NodeREDSample/NotEqual.txt
[{"id":"559e9d14.de5e7c","type":"Not Equal","x":697,"y":883,"z":"896ee2ca.d9497","wires":[["b1649408.b158e"]]},{"id":"b1649408.b158e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":903,"y":893.5999755859375,"z":"896ee2ca.d9497","wires":[]},{"id":"f112ec52.4fd34","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":299,"y":860.5999755859375,"z":"896ee2ca.d9497","wires":[["1e23fba.5be5a04","480489f2.6699ac"]]},{"id":"480489f2.6699ac","type":"function","name":"-10","func":"msg.payload = -10\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":886.7999877929687,"z":"896ee2ca.d9497","wires":[["559e9d14.de5e7c"]]},{"id":"1e23fba.5be5a04","type":"function","name":"10","func":"msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":853.7999877929687,"z":"896ee2ca.d9497","wires":[["559e9d14.de5e7c"]]}]